@charset "utf-8";
/* CSS Document */
#principal
{
	width: 1500px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
    margin:auto;
}


header
{
	width: 1500px;
	height: 150px;
	border: 1px solid #000;
	
}

#logo
{
	width: 330px;
	height: 130px;
	border: 0px solid #000;
	float:left;

}
.color-contactanos
{
	color: black;
}
.menu 
{
width: 500px;
height: 35px; 
border: 1px solid #ccc;
float:right;
margin-top: 0px;
background: #9C1719;
}

.menu ul {}

.menu ul li
{
	list-style: none;
	float:left;
	
}

.menu ul li a
{
	text-decoration: none;
	padding: 0px 10px;
	border: 1px solid #ccc;
	color:aliceblue;
}

.menu ul a:hover
{
	background: #e0e0e0;
	color: aliceblue;
	transition: background 2s, color 2s;
	
}
#slide
{
	margin-top: 10px;
	width: 1500px;
	height: 250;
}

#categorias
{
	width: 1500px;
	height: 500px;
	border: 1px solid;
	margin-top: 10px;
}
#categorias2
{
	width: 1500px;
	height: 500px;
	border: 1px solid;
	margin-top: 10px;
}

.parrafo
{
	color: #FFFFFF;
	text-align: justify;
	padding: 10px;
	color: black;
}

.uno
{
	width: 491px;
	height: 500px;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
}

.dos
{
	margin-left: 10px;
	margin-right: 10px;
}

.tres
{
	width: 1500px;
	height: 500px;
	border: 1px solid color #C6C5C5;
	float: center;
	text-align: center;
}

.decorar_botones
{
	text-decoration: none;
	border: 2px solid #006699;
	padding: 10px, 20px, 10px, 20px;
	margin: 10px;
	
}

.decorar_botones:hover
{
	background: #006696;
	color: #FFF;
	transition: background 1s, color 1s;
}

#info
{
	width: 1500px;
	height: auto; overflow: hidden;
	border: 1px solid #C0C0C0;
	margin-top: 10px;
}

#izquierda
{
	width: 987px;
	height: 300px;
	border: 1px solid #000;
	float: left;
	padding: 5px;
}

.imagen
{
	margin-right: 7px;
	margin-bottom: 7px;
}

#derecha
{
	width: 493px;
	height: 300px;
	border: 1px solid #000;
	float: right;
}

footer
{
	width: 1500px;
	height: 100px;
    text-align: center;
}

footer p
{
	width: auto; overflow: hidden;
}
